/* reset for browser default style  */
button:focus {
  outline: none;
  border: none;
}

.med-btn {
  cursor: pointer;
  height: 1.5rem;
  width: 7.5rem;
  box-sizing: border-box;
  border-radius: 0.75rem;
  border: none;
}

.brand-color-btn {
  background-color: var(--brand-color-1);
  box-shadow: var(--sm-box-shadow);
  font-size: var(--h5-size);
  font-weight: 400;
  color: #fff;
}

.form-btn {
  cursor: pointer;
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0;
  border: none;
  font-size: var(--h5-size);
  border-radius: var(--med-border-radius);
}

.form-btn:focus {
  outline: none;
}

.form-btn-enabled {
  background-color: var(--brand-color-1);
  color: var(--light-bg-1);
}

.form-btn-disabled {
  cursor: default;
  background-color: var(--brand-color-light);
  color: var(--light-bg-1);
}

.sm-sidebar-btn {
  cursor: pointer;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  border: none;
  width: auto;
  font-size: var(--h6-size);
  border-radius: var(--med-border-radius);
}

