.user-info-form {
  width: 13rem;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  border: solid 1px var(--brand-color-light);
  border-radius: var(--lrg-border-radius);
  background-color: var(--light-bg-1);
  box-shadow: var(--lrg-brand-shadow);
}

.user-info-form input {
  margin: 0.4rem auto;
  height: 2rem;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px var(--light-gray-1);
  border-radius: var(--med-border-radius);
  padding: 0 0.25rem;
  font-size: var(--h5-size);
  background-color: var(--light-bg-2);
}

.user-info-form input:focus {
  background-color: #fff;
  border: solid 1px var(--brand-color-1);
  outline: none;
}

.user-info-form-header {
  margin-bottom: 1rem;
  text-align: center;
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
}

.name-inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.8rem;
  width: 100%;
}
