.spacer-2 {
  width: 100%;
  height: 2rem;
}

.spacer-3 {
  width: 100%;
  height: 3rem;
}

.line-spacer-3 {
  width: 100%;
  height: 1px;
  margin-top: 1.5rem;
  margin-bottom: 29px;
  background-color: var(--light-bg-3);
}

.line-spacer-4 {
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 39px;
  background-color: var(--light-bg-3);
}