#dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-areas: "sidebar content"
}

#dash-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0 2rem;
}

#dash-content-tools {
  width: 100%;
  height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

