.nav-side-links {
  margin-top: 2.4rem;
}

.nav-side-link {
  display: block;
  height: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--dark-text);
}

.nav-side-link-text {
  margin-left: 1rem;
}

.active .nav-side-link-text {
  font-weight: 600;
}

.nav-side-link:hover .nav-side-link-icon {
  opacity: 1.0;
}

.nav-side-link-icon {
  font-size: 1rem;
  vertical-align: -15%;
  opacity: 0.5;
}

.active .nav-side-link-icon {
  opacity: 1.0;
  color: var(--brand-color-1);
}


