.app {
  font-size: 0.8rem;
  background-color: var(--light-bg-1);
}

.main-container {
  max-width: 1050px;
  min-height: 24rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.width-container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 1rem;
}
