@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Source Sans pro', sans-serif;
  font-size: 20px;

  --light-bg-1: #FFFDFD;
  --light-bg-2: #FBF7F4;
}

body {
  background-color: var(--light-bg-2);
}


