@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Source Sans pro', sans-serif;
  font-size: 20px;

  --h1-size: 2.4rem;
  --h2-size: 1.6rem;
  --h3-size: 1.2rem;
  --h4-size: 1rem;
  --h5-size: 0.8rem;
  --h6-size: 0.6rem;

  --light-bg-1: #FFFDFD;
  --light-bg-2: #FBF7F4;
  --light-bg-3: #F4ECE6;
  --light-gray-1: #d1d1d1;
  --med-gray-1: #6C6C6C;
  --bright-purple: #873CE6;
  --vibrant-indigo: #4C34E0;

  --lrg-border-radius: 0.5rem;
  --med-border-radius: 0.3rem;
  --sm-border-radius: 0.15rem;

  --med-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);

  --linear-gradient-bright-purple: linear-gradient(121.06deg, #873CE6 16.4%, #D760AE 104.9%);
  --linear-gradient-deep-purple: linear-gradient(167.74deg, #4C34E0 13.33%, #873CE6 93.62%);;
}

body {
  background-color: var(--light-bg-2);
}

h4 {
  font-weight: 400;
  font-size: var(--h4-size);
}

h6 {
  font-weight: 400;
  font-size: var(--h6-size);
}


