.time-block {
  cursor: grab;
  position: absolute;
  width: 100%;
  height: 2rem;
  box-sizing: border-box;
  border: solid 1px var(--light-bg-2);
  border-radius: var(--med-border-radius);
  display: grid;
  grid-template-rows: 1fr 0.25rem;
  grid-template-areas: 
  "top"
  "baseline"
}

.time-block-top {
  grid-area: top;
}

.time-block-resize-handle {
  cursor: ns-resize;
  grid-area: baseline;
}

.moving-block {
  cursor: move;
  opacity: 0.6;
}