#project-view {
  height: 100%;
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-areas: "sidebar content"
}

#project-view-sidebar {
  background-color: var(--light-bg-1);
}

#project-view-sidebar-container {
  width: 12rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

#project-view-content {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  overflow: scroll;
}

#planner {
  width: 100%;
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-areas: "labels timelines";
}

#hr-labels {
  grid-area: labels;
  margin-top: 2.5rem;
}

.hr-label {
  height: 1rem;
  width: 100%;
  margin-bottom: 3rem;
  font-size: var(--h6-size);
}

