#project-view {
  height: 100%;
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-areas: "sidebar content"
}

#project-view-sidebar {
  background-color: var(--light-bg-1);
}

#project-view-sidebar-container {
  width: 12rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

#project-view-content {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  overflow: scroll;
}

#planner {
  width: 100%;
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-areas: "labels timelines";
}

#hr-labels {
  grid-area: labels;
  margin-top: 2.5rem;
}

.hr-label {
  height: 20px;
  width: 100%;
  margin-bottom: 60px;
  font-size: var(--h6-size);
}

#timelines {
  margin-top: 3rem;
  grid-area: timelines;
  background-image: linear-gradient(0deg, var(--light-bg-2) 49.38%, var(--med-gray-2) 49.38%, var(--med-gray-2) 50%, var(--light-bg-2)  50%, var(--light-bg-2)  99.38%, var(--med-gray-2) 99.38%, var(--med-gray-2) 100%);
  background-size: 160.00px 160.00px;
}




